<!DOCTYPE html>
<html>
  <head>
    <title>ApiMessageSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <div>
      <% if user_signed_in? %>
        <%= render 'layouts/shared/side_menu' %>
      <% else %>
        <main>
          <%= yield %>
        </main>
      <% end %>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <% if notice %>
      <script>
        Toastify({
          text: "<%= notice %>" ,
          duration: 3000,
          style: {
            background: "green",
          }
        }).showToast();
      </script>
  <% end %>

      <% if alert %>
      <script>
        Toastify({
          text: "<%= alert %>" ,
          duration: 3000,
          style: {
            background: "#930f17",
          }
        }).showToast();
      </script>
    <% end %>
  </body>
</html>
